@model FlashSale.Areas.Portal.Model.CheckOutModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Kiểm tra đơn hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Details Area Strat-->
<div class="Details-area pt-60 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="coupon-accordion">
                    <!--Accordion Start-->
                    <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
                    <div id="Details-login" class="coupon-content">
                        <div class="coupon-info">
                            <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>
                            <form action="#">
                                <p class="form-row-first">
                                    <label>Username or email <span class="required">*</span></label>
                                    <input type="text">
                                </p>
                                <p class="form-row-last">
                                    <label>Password  <span class="required">*</span></label>
                                    <input type="text">
                                </p>
                                <p class="form-row">
                                    <input value="Login" type="submit">
                                    <label>
                                        <input type="checkbox">
                                        Remember me
                                    </label>
                                </p>
                                <p class="lost-password"><a href="#">Lost your password?</a></p>
                            </form>
                        </div>
                    </div>
                    <!--Accordion End-->
                    <!--Accordion Start-->
                    <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                    <div id="Details_coupon" class="coupon-Details-content">
                        <div class="coupon-info">
                            <form action="#">
                                <p class="Details-coupon">
                                    <input placeholder="Coupon code" type="text">
                                    <input value="Apply Coupon" type="submit">
                                </p>
                            </form>
                        </div>
                    </div>
                    <!--Accordion End-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <form enctype="multipart/form-data" method="post">
                    <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.idShop)



                        @for (int i = 0; i < Model.listShoppingCartDetail.Count; i++)
                        {
                            @Html.HiddenFor(model => model.listShoppingCartDetail[i].ProductName)
                            @Html.HiddenFor(model => model.listShoppingCartDetail[i].Quantity)
                            @Html.HiddenFor(model => model.listShoppingCartDetail[i].Total)
                        }
                        @Html.HiddenFor(model => model.SubTotal)
                        @Html.HiddenFor(model => model.TotalQuantity)
                        @Html.HiddenFor(model => model.Total)
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group row">
                                @Html.Partial("~/Areas/Admin/Views/Shared/CommonInput/_FormTextInput.cshtml", Tuple.Create("Tên Shop", "ShopName", Model.ShopName, true))
                            </div>
                            <div class="form-group row">
                                @Html.Partial("~/Areas/Admin/Views/Shared/CommonInput/_FormTextInput.cshtml", Tuple.Create("Sô điện thoại Shop", "PhoneShop", Model.PhoneShop, true))
                            </div>
                            <div class="form-group row">
                                @Html.Partial("~/Areas/Admin/Views/Shared/CommonInput/_FormTextInput.cshtml", Tuple.Create("Địa chỉ shop", "AddressShop", Model.AddressShop, true))
                            </div>
                            <div class="form-group row">
                                @Html.Partial("~/Areas/Admin/Views/Shared/CommonInput/_FormTextInput.cshtml", Tuple.Create("Họ và tên", "UserName", Model.UserName, true))
                            </div>
                            <div class="form-group row">
                                @Html.Partial("~/Areas/Admin/Views/Shared/CommonInput/_FormTextInput.cshtml", Tuple.Create("Email", "Email", Model.Email, true))
                            </div>
                            <div class="form-group row">
                                @Html.Partial("~/Areas/Admin/Views/Shared/CommonInput/_FormTextInput.cshtml", Tuple.Create("Số điện thoại", "Phone", Model.Phone, true))
                            </div>
                            <div class="form-group row">
                                @Html.Partial("~/Areas/Admin/Views/Shared/CommonInput/_FormTextInput.cshtml", Tuple.Create("Địa chỉ", "Address", Model.Address, true))
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-md-12">Thời gian đặt hàng</label>
                                <div class="col-md-12">
                                    <input type="datetime-local"
                                           class="form-control"
                                           name="OrderTime"
                                           value="@(Html.Encode(DateTime.Now.ToString("yyyy-MM-ddTHH:mm")))"
                                           readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.Partial("~/Areas/Admin/Views/Shared/CommonInput/_FormTexteareInput.cshtml", Tuple.Create("Ghi chú", "Note", Model.Note, false))

                            </div>
                            @*<div class="order-button-payment">
                                <input value="Đặt hàng" type="submit">
                            </div>*@

                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-12">
                <div class="your-order">
                    <h3>Your order</h3>
                    <div class="your-order-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Sản phẩm</th>
                                    <th class="cart-product-total">Tổng cộng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.listShoppingCartDetail)
                                {
                                    <tr class="cart_item">
                                        <td class="cart-product-name"> @item.ProductName<strong class="product-quantity"> × @Html.Raw(String.Format("{0:N0}", item.Quantity))</strong></td>
                                        <td class="cart-product-total"><span class="amount">@Html.Raw(String.Format("{0:N0}", item.Total))đ</span></td>
                                    </tr>

                                }
                            </tbody>
                            <tfoot>
                                <tr class="cart-subtotal">
                                    <th>Tổng tiền sản phẩm</th>
                                    <td><span class="amount"> @Html.Raw(String.Format("{0:N0}", Model.SubTotal))đ</span></td>
                                </tr>
                                <tr class="cart-subtotal">
                                    <th>Tổng số lượng</th>
                                    <td><span class="amount"> @Html.Raw(String.Format("{0:N0}", Model.TotalQuantity))</span></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Tổng thanh toán</th>
                                    <td><strong><span class="amount"> @Html.Raw(String.Format("{0:N0}", Model.Total))đ</span></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="#payment-1">
                                        <h5 class="panel-title">
                                            <a class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Direct Bank Transfer.
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="#payment-2">
                                        <h5 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Cheque Payment
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="#payment-3">
                                        <h5 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                PayPal
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Details Area End-->
