@model FlashSale.Areas.Admin.Model.DonHangViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 0;
    var controller = "DonHang";
    int totalPages = (int)Math.Ceiling((double)Model.TotalCount / Model.PageSize);
}

<div class="main-content-inner">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Đơn hàng</h4>
                    @using (Html.BeginForm("Index", "DonHang", FormMethod.Get, new { id = "formFilters" }))
                    {
                        <div class="form-group row">
                            <div class="col-md-6 col-12">
                                <label class="control-label col-12">Shop</label>
                                <div class="col-12">
                                    <select class="form-control form-control-lg" name="idShop">
                                        @foreach (var item in new Data.mapTaiKhoanShopSystem().getListUseFilter())
                                        {
                                            <option value="@item.id" @(item.id == Model.IdShop ? "selected" : "")>@item.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="control-label col-12">Trạng thái</label>
                                <div class="col-12">
                                    <select class="form-control form-control-lg" name="statusDel">
                                        @foreach (var item in new Data.mapTypeProduct().GetListStatusDel())
                                        {
                                            <option value="@item.id" @(item.id == Model.StatusDel ? "selected" : "")>@item.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-12">
                                <label class="control-label col-12">Thời gian đặt hàng từ</label>
                                <div class="col-12">
                                    <input class="form-control form-control-lg" type="datetime-local" name="timeOrderTo" value="@Model.TimeOrderTo">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="control-label col-12">Thời gian đặt hàng đến</label>
                                <div class="col-12">
                                    <input class="form-control form-control-lg" type="datetime-local" name="timeOrderCome" value="@Model.TimeOrderCome">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-12">
                                <label class="control-label col-12">Tìm kiếm(Số điện thoại | Địa chỉ nhận hàng)</label>
                                <div class="col-12">
                                    <input class="form-control form-control-lg" type="text" name="search" value="@Model.Search">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-warning mb-3 mr-1" onclick="exportExcel()">
                                <span style="color:white"> Xuất Excel</span>
                            </button>
                            <button type="button" class="btn btn-success mb-3 mr-1"> <a href="~/Admin/DonHang/Insert" style="color:white">Thêm</a></button>
                            <button type="submit" class="btn btn-primary mb-3 mr-1" name="filter"> Tìm kiếm</button>
                        </div>
                    }

                    <div class="col-12" style="overflow:hidden; overflow-x:auto">
                        <table id="example" class="display table-striped table-bordered" cellspacing="0" width="100%">
                            <thead class="text-uppercase bg-primary text-white">
                                <tr>
                                    <th width="80"></th>
                                    <th width="50">STT</th>
                                    <th>Thông tin đơn hàng</th>
                                    <th>Tổng thành tiền</th>
                                    <th>Ghi chú khách hàng</th>
                                    <th>Ngày cập nhật</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DonHang)
                                {
                                    <tr>
                                        <td>
                                            <div class="dropdown col-lg-6 col-md-4 col-sm-6">
                                                <button class="btn btn-rounded btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Chức năng
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="~/Admin/DonHang/Details?id=@item.db.ID">Xem</a>
                                                    <a class="dropdown-item" href="~/Admin/DonHang/Edit?id=@item.db.ID">Sửa</a>
                                                    @if (item.db.StatusDel == 1)
                                                    {
                                                        <a class="dropdown-item" onclick="UpdateStatusDel('@item.db.ID',2,'@controller')">Ngưng sử dụng</a>
                                                    }
                                                    else if (item.db.StatusDel == 2)
                                                    {
                                                        <a class="dropdown-item" onclick="UpdateStatusDel('@item.db.ID',1,'@controller')">Sử dụng</a>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center">@(++i)</td>
                                        <td>
                                            @if (item.TenShop != null)
                                            {<p><span style="font-weight:bold">Tên shop:&nbsp;</span><span>  @Html.DisplayFor(modelItem => item.TenShop)</span></p>}
                                            @if (item.db.SoDienThoai != null)
                                            {<p><span style="font-weight:bold">Số điện thoại:&nbsp;</span><span>  @Html.DisplayFor(modelItem => item.db.SoDienThoai)</span></p>}
                                            @if (item.db.DiaChiGiaoHang != null)
                                            {<p><span style="font-weight:bold">Địa chỉ giao hàng:&nbsp;</span><span>  @Html.DisplayFor(modelItem => item.db.DiaChiGiaoHang)</span></p>}
                                            @if (item.db.ThoiGianDatHang != null)
                                            {<p><span style="font-weight:bold">Thời gian đặt hàng:&nbsp;</span><span> @Html.DisplayFor(modelItem => item.db.ThoiGianDatHang, "{0:yyyy-MM-dd}")</span></p>}
                                        </td>
                                        <td>
                                            @if (item.db.TongTienSanPham != null)
                                            {<p><span style="font-weight:bold">Tổng tiền sản phẩm:&nbsp;</span><span>   @Html.Raw(String.Format("{0:N0}", item.db.TongTienSanPham))</span></p>}
                                            @if (item.db.TrietKhau != null)
                                            {<p><span style="font-weight:bold">Triết khấu:&nbsp;</span><span>   @Html.Raw(String.Format("{0:N0}", item.db.TrietKhau))</span></p>}
                                            @if (item.db.PhiShip != null)
                                            {<p><span style="font-weight:bold">Phí ship:&nbsp;</span><span>   @Html.Raw(String.Format("{0:N0}", item.db.PhiShip))</span></p>}
                                            @if (item.db.Vat != null)
                                            {<p><span style="font-weight:bold">Vat:&nbsp;</span><span>   @Html.Raw(String.Format("{0:N0}", item.db.Vat))</span></p>}
                                            @if (item.db.TongThanhToan != null)
                                            {<p><span style="font-weight:bold">Tổng thanh toán:&nbsp;</span><span>   @Html.Raw(String.Format("{0:N0}", item.db.TongThanhToan))</span></p>}
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.db.KhacHangGhiChu)
                                        </td>
                                        <td>
                                            @if (item.TenNguoiCapNhat != null)
                                            {<p>@Html.DisplayFor(modelItem => item.TenNguoiCapNhat)</p>}
                                            <p> @Html.DisplayFor(modelItem => item.db.NgayCapNhat, "{0:yyyy-MM-dd}")</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    @Html.Partial("_Pagination", new FlashSale.Areas.Admin.Model.PaginationModel
                    {
                        CurrentPage = Model.CurrentPage,
                        TotalPages = totalPages,
                        TotalCount = Model.TotalCount,
                        PageSize = Model.PageSize,
                        PageRange = 5, // Default range
                        Search = Model.Search,
                        StatusDel = Model.StatusDel,
                        IdShop = Model.IdShop,
                        TimeOrderTo = Model.TimeOrderTo,
                        TimeOrderCome = Model.TimeOrderTo
                    })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
         function exportExcel() {
            var form = document.getElementById('formFilters');
            var formData = new FormData(form);
            var search = formData.get('search');
            var statusDel = formData.get('statusDel');
             var idShop = formData.get('idShop');
             var timeOrderTo = formData.get('timeOrderTo');
             var timeOrderCome = formData.get('timeOrderCome');
            var url = '@Url.Action("Export", "DonHang")' +
                        '?search=' + encodeURIComponent(search) +
                        '&statusDel=' + encodeURIComponent(statusDel) +
                '&idShop=' + encodeURIComponent(idShop) +
                '&timeOrderTo=' + encodeURIComponent(timeOrderTo) +
                '&timeOrderCome=' + encodeURIComponent(timeOrderCome)
                ;
            window.location.href = url;
        }
    </script>
}
