@model FlashSale.Areas.Admin.Model.SanPhamModel

@{
    ViewBag.Title = "Insert";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-content-inner">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="pl-3">Thêm sản phẩm</h3>
                            <br>
                            <form enctype="multipart/form-data" method="post">

                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group row">
                                        <div class="col-md-6 col-12">
                                            @Html.Partial("CommonInput/_FormCheckBoxInput", Tuple.Create("db.ConHang", Model.db.ConHang, "Còn hàng", false))
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6 col-12">
                                            @Html.Partial("CommonSelect/_FormDropdown", Tuple.Create("Nhóm sản phẩm", "db.idNhomSanPham", new Data.mapSanPham().getListUse().Select(x => new SelectListItem { Value = x.id.ToString(), Text = x.name }), Model.db.idNhomSanPham.ToString(), false, "nhomSanPham", ""))
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <label class="control-label col-md-12">Loại sản phẩm @Html.ValidationMessageFor(model => model.db.idLoaiSanPham, "", new { @class = "text-danger" })</label>
                                            <div class="col-md-12">
                                                <select id="loaiSanPham" name="db.idLoaiSanPham" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12">
                                            @Html.Partial("CommonInput/_FormTextInput", Tuple.Create("Tên sản phẩm", "db.TenSanPham", Model.db.TenSanPham, false))
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6 col-12">
                                            @Html.Partial("CommonInput/_FormNumberInputField", Tuple.Create("Giá niêm yết", "db.GiaNiemYet", Model.GiaNiemYetView, "formatNumberCommon(this)", false))
                                        </div>
                                        <div class="col-md-6 col-12">
                                            @Html.Partial("CommonInput/_FormNumberInputField", Tuple.Create("Giá sale", "db.GiaSale", Model.GiaSaleView, "formatNumberCommon(this)", false))
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6 col-12">
                                            @Html.Partial("CommonInput/_FormDateTimeInput", Tuple.Create("Giờ bắt đầu", "db.GioBatDau", Model.db.GioBatDau, false))
                                        </div>
                                        <div class="col-md-6 col-12">
                                            @Html.Partial("CommonInput/_FormDateTimeInput", Tuple.Create("Giờ kết thúc", "db.GioKetThuc", Model.db.GioKetThuc, false))
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-12">
                                            <button type="button" class="btn btn-default mr-1"> <a href="~/Admin/SanPham/Index" style="color:black">Đóng</a></button>
                                            <input type="submit" value="Thêm" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
