@model FlashSale.Areas.Admin.Model.TypeProductModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-content-inner">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="pl-3">Sửa TypeProduct</h3>
                            <br>
                            <form enctype="multipart/form-data" method="post">
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.db.ID)
                                    <div class="form-group row">
                                        <div class="col-md-6 col-12">
                                            @Html.Partial("CommonInput/_FormTextInput", Tuple.Create("Mã", "db.Code", Model.db.Code, false))
                                        </div>
                                        <div class="col-md-6 col-12">
                                            @Html.Partial("CommonInput/_FormTextInput", Tuple.Create("Tên", "db.Name", Model.db.Name, false))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-12">
                                            @Html.Partial("CommonSelect/_FormDropdown", Tuple.Create("Nhóm sản phẩm", "db.idProductGroup", new Data.mapSanPham().getListUse().Select(x => new SelectListItem { Value = x.id.ToString(), Text = x.name }), Model.db.idProductGroup.ToString(), false, "nhomSanPham", ""))
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-12">
                                                <button type="button" class="btn btn-default mr-1"> <a href="~/Admin/TypeProduct/Index" style="color:black">Đóng</a></button>
                                                <input type="submit" value="Sửa" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
