@model IEnumerable<FlashSale.Areas.Admin.Model.ReturnAndExchangePolicyModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 0;
    var controller = "ReturnAndExchangePolicy";
    int currentPage = ViewBag.CurrentPage;
    int pageSize = ViewBag.PageSize;
    int Type = ViewBag.Type;
    int totalCount = ViewBag.TotalCount;
    int totalPages = (int)Math.Ceiling((double)totalCount / pageSize);
}

<div class="main-content-inner">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">

                    <h4 class="header-title">Danh sách loại sản phẩm</h4>

                    <form id="formFilters" method="get" action="@Url.Action("Index", "ReturnAndExchangePolicy")">
                        <div class="form-group row">
                            <div class="col-md-6 col-12">
                                <label class="control-label col-12">Chính sách đổi trả</label>
                                <div class="col-12">
                                    <select class="form-control form-control-lg" name="Type">
                                        @foreach (var item in new Data.mapReturnAndExchangePolicy().getListTypeReturnAndChangePolicyFilter())
                                        {
                                            <option value="@item.id" @(item.id == ViewBag.idNhomSanPham ? "selected" : "")>@item.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="control-label col-md-12">Trạng thái</label>
                                <div class="col-md-12">
                                    <select class="form-control form-control-lg" name="statusDel">
                                        @foreach (var item in new Data.mapReturnAndExchangePolicy().GetListStatusDel())
                                        {
                                            <option value="@item.id" @(item.id == ViewBag.statusDel ? "selected" : "")>@item.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <label class="control-label col-md-12">Tìm kiếm(Tên)</label>
                                <div class="col-md-12">
                                    <input class="form-control form-control-lg" type="text" name="search" value="@ViewBag.search">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-success mb-3 mr-1"> <a href="~/Admin/ReturnAndExchangePolicy/Insert" style="color:white">Thêm</a></button>
                            <button type="submit" class="btn btn-primary mb-3 mr-1" name="filter">Tìm kiếm</button>
                        </div>
                    </form>

                    <div class="col-12" style="overflow:hidden; overflow-x:auto">
                        <table id="example" class="display table-striped table-bordered" cellspacing="0" width="100%">
                            <thead class="text-uppercase bg-primary text-white">
                                <tr>
                                    <th width="80"></th>
                                    <th width="50">STT</th>
                                    <th>Tên</th>
                                    <th>Loai hoàn trả</th>
                                    <th>Phí hoàn trả</th>
                                    <th>Người cập nhật</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="dropdown col-lg-6 col-md-4 col-sm-6">
                                                <button class="btn btn-rounded btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Chức năng
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="~/Admin/ReturnAndExchangePolicy/Details?id=@item.db.ID">Xem</a>
                                                    <a class="dropdown-item" href="~/Admin/ReturnAndExchangePolicy/Edit?id=@item.db.ID">Sửa</a>
                                                    @if (item.db.StatusDel == 1)
                                                    {
                                                        <a class="dropdown-item" onclick="UpdateStatusDel(@item.db.ID,2,'@controller')">Ngưng sử dụng</a>
                                                    }
                                                    else if (item.db.StatusDel == 2)
                                                    {
                                                        <a class="dropdown-item" onclick="UpdateStatusDel(@item.db.ID,1,'@controller')">Sử dụng</a>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center">@(++i)</td>
                                        <td>@Html.DisplayFor(modelItem => item.db.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TypePolicyName)</td>
                                        <td align="right">
                                            @if (item.db.RefundFee != 0 && item.db.RefundFee != null)

                                            {@Html.Raw(String.Format("{0:N0}", item.db.RefundFee))<span>đ</span>
                                        }
                                        else
                                        { <span></span>}

                                        </td>
                                        <td>
                                            @if (item.UpdateByName != null)
                                            {<p>@Html.DisplayFor(modelItem => item.UpdateByName)</p>}
                                            <p>@Html.DisplayFor(modelItem => item.db.UpdateDate, "{0:yyyy-MM-dd}")</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    @Html.Partial("_Pagination", new FlashSale.Areas.Admin.Model.PaginationModel
                   {
                       CurrentPage = currentPage,
                       TotalPages = totalPages,
                       TotalCount = totalCount,
                       PageSize = pageSize,
                       PageRange = 5, // Default range
                       Search = ViewBag.search,
                       StatusDel = ViewBag.statusDel.ToString(),
                       IdNhomSanPham = ViewBag.idNhomSanPham,
                       Type = ViewBag.Type
                   })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
                                // Custom scripts here
    </script>
}
