@model FlashSale.Areas.Admin.Model.DonHangChiTietViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 0;
    var controller = "DonHangChiTiet";
    int totalPages = (int)Math.Ceiling((double)Model.TotalCount / Model.PageSize);
}




<div class="main-content-inner">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Đơn hàng chi tiết</h4>
                    <form id="formFilters" method="get" action="@Url.Action("Index", "DonHangChiTiet")">
                        <div class="form-group row">
                            <div class="col-md-6 col-12">
                                <label class="control-label col-md-12">Tìm kiếm(Tên sản phẩm)</label>
                                <div class="col-md-12">
                                    <input class="form-control form-control-lg" type="text" name="search" value="@Model.Search">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="control-label col-md-12">Trạng thái</label>
                                <div class="col-md-12">
                                    <select class="form-control form-control-lg" name="statusDel">
                                        @foreach (var item in new Data.mapCommon().GetListStatusDel())
                                        {
                                            <option value="@item.id" @(item.id == Model.StatusDel ? "selected" : "")>@item.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary mb-3 mr-1" name="filter">Tìm kiếm</button>
                        </div>
                    </form>

                    <div class="col-12" style="overflow:hidden; overflow-x:auto">
                        <table id="example" class="display table-striped table-bordered" cellspacing="0" width="100%">
                            <thead class="text-uppercase bg-primary text-white">
                                <tr>
                                    <th width="80"></th>
                                    <th width="50">STT</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá bán</th>
                                    <th>Giá sale</th>
                                    <th>Số lượng</th>
                                    <th>Ngày cập nhật</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DonHangChiTiet)
                                {
                                    <tr>
                                        <td>
                                            <div class="dropdown col-lg-6 col-md-4 col-sm-6">
                                                <button class="btn btn-rounded btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Chức năng
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="~/Admin/DonHangChiTiet/Details?id=@item.db.ID">Xem</a>
                                                    <a class="dropdown-item" href="~/Admin/DonHangChiTiet/Edit?id=@item.db.ID">Sửa</a>
                                                    @if (item.db.StatusDel == 1)
                                                    {
                                                        <a class="dropdown-item" onclick="UpdateStatusDel('@item.db.ID',2,'@controller')">Ngưng sử dụng</a>
                                                    }
                                                    else if (item.db.StatusDel == 2)
                                                    {
                                                        <a class="dropdown-item" onclick="UpdateStatusDel('@item.db.ID',1,'@controller')">Sử dụng</a>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center">@(++i)</td>
                                        <td>@Html.DisplayFor(modelItem => item.db.TenSanPham)</td>
                                        <td align="right">@Html.Raw(String.Format("{0:N0}", item.db.GiaBan))</td>
                                        <td align="right">@Html.Raw(String.Format("{0:N0}", item.db.GiaSale))</td>
                                        <td align="right">@Html.Raw(String.Format("{0:N0}", item.db.SoLuong))</td>
                                        <td>
                                            @if (item.TenNguoiCapNhat != null)
                                            {
                                                <p>@Html.DisplayFor(modelItem => item.TenNguoiCapNhat)</p>
                                            }
                                            <p>@Html.DisplayFor(modelItem => item.db.NgayCapNhat, "{0:yyyy-MM-dd}")</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    @Html.Partial("_Pagination", new FlashSale.Areas.Admin.Model.PaginationModel
                    {
                        CurrentPage = Model.CurrentPage,
                        TotalPages = totalPages,
                        TotalCount = Model.TotalCount,
                        PageSize = Model.PageSize,
                        PageRange = 5, // Default range
                        Search = Model.Search,
                        StatusDel =Model.StatusDel
                    })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
                // Your custom scripts here
    </script>
}
